@import '~node_modules/modern-normalize/modern-normalize.css';

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.form {
  background-color: #7fffd4;
  text-align: center;
}

.search-form {
  padding: 10px;
  margin: 0 auto;
}
