.gallery {
  display: flex;

  flex-wrap: wrap;
  margin-top: -15px;
  margin-left: -15px;
}

.gallery__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 15px;
  margin-top: 15px;
  width: calc((100% - 60px) / 4);
}

.gallery__item:hover {
  transform: scale(1.03);
}

.gallery__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery__link {
  display: block;
  width: 100%;

  text-decoration: none;
  height: 100%;
}

.gallery__link:hover {
  cursor: zoom-in;
}

.gallery__info {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 24px;
  border-left: 1px solid #525252;
  border-right: 1px solid #525252;
  border-bottom: 1px solid #525252;
}

.info-item {
  text-align: center;
}

.button {
  text-align: center;
  padding: 30px;
  display: none;
  &.visible {
    display: block;
  }
}
